# Idea
.idea/*
/.idea/workspace.xml

# Gradle
.gradle
build

# automessagerbot
automessagerbot/DiscordAutoMessagerBot_*
automessagerbot/src/main/resources/application.properties
automessagerbot/src/main/resources/application-dev.properties

# liquibase
liquibase/src/main/resources/dbconfig-dev.properties
liquibase/src/main/resources/dbconfig-dev_ci.properties
liquibase/src/main/resources/dbconfig-dev_prod.properties