# Idea
.idea/*
/.idea/workspace.xml

# Gradle
.gradle
build

# automessagerbot
automessagerbot/DiscordAutoMessagerBot_*
automessagerbot/src/main/resources/application-dev.yml
automessagerbot/src/main/resources/application-prod.yml